@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Hi, @context?.User?.Identity?.Name</h1>
        Let's admire your beloved <a href="army">army</a>!
    </Authorized>
    <NotAuthorized>

        <h1>Welcome to Blazor Battles</h1>
        <Login/>
    </NotAuthorized>
</AuthorizeView>